<form class="filter-container" *ngIf="filterForm" [formGroup]="filterForm">
  <mat-form-field>
    <input matInput placeholder="Search....." formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{statusLabel}}</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let st of statuses" [value]="st">{{st}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="showDate">
    <mat-label>{{fromDateLabel}}</mat-label>
    <input matInput [matDatepicker]="fromPicker" formControlName="fromDate" >
    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field>

  
  <mat-form-field *ngIf="showDate">
    <mat-label>{{toDateLabel}}</mat-label>
    <input matInput [matDatepicker]="toPicker" formControlName="toDate" [min]="filterForm.get('fromDate')?.value">
    <mat-datepicker-toggle matSuffix [for]="toPicker" ></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="reset()" >Reset</button>
</form>
