<div class="signup-container">
  <mat-card>
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name" formControlName="name" />
        <mat-error *ngIf="signupForm.get('name')?.touched &&
            signupForm.get('name')?.hasError('required')">Name is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email" />
        <mat-error *ngIf="
            signupForm.get('email')?.touched &&
            signupForm.get('email')?.hasError('required')
          ">Email is required</mat-error>
        <mat-error *ngIf="signupForm.get('email')?.hasError('email')">Enter Correct Email</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Create a password" formControlName="password" />
        <mat-error *ngIf="
            signupForm.get('password')?.touched &&
            signupForm.get('password')?.hasError('required')
          ">
          Passowrd is required</mat-error>
        <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">Min. Password length is 6</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">{{
            role
            }}</mat-option>
        </mat-select>
        <mat-error *ngIf="
            signupForm.get('role')?.touched &&
            signupForm.get('role')?.hasError('required')
          ">
          Role is required</mat-error>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="primary" style="width: 30%" type="submit" [disabled]="signupForm.invalid"
          (click)="onSubmit(signupForm.value)">
          Sign Up
        </button>
      </div>
    </form>
    <p class="signup">
      <a routerLink="/auth/login">Go to Login Page</a>
    </p>
  </mat-card>
</div>