.form-flex{
    display:flex;
    gap:20px;
    flex-direction:column
}
.form-row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.form-row mat-form-field{
 flex: 1 1 45%
}

.full-width{
  flex: 1 1 100%
}
