<app-toast></app-toast>
<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span >Enterprise Project Management System</span>
    <span class="spacer"></span>
    <app-notification-badge></app-notification-badge>
    <button mat-icon-button  matTooltip="Welcome,{{user?.name}}" aria-label="User Account">
    <mat-icon>account_circle</mat-icon>
  </button>
<button mat-button (click)="logout()">{{loginLogoutButton}}</button>
</mat-toolbar>











