<mat-card class="project-list">
    <h2>Projects</h2>

    <div style="text-align: right; margin-bottom: 10px;">
        <button mat-raised-button color="primary">+ Add Project</button>
    </div>
<app-filter-bar
  [statuses]="['In Progress', 'Completed','Pending' ,'All']"
  (filtersChanged)="applyFilters($event)">
</app-filter-bar>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">

            <!-- Name Column -->
            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">

                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnLabel[column]}}</th>
                <td mat-cell *matCellDef="let project">{{project[column]}}
                    <span *ngIf="column=='actions'">
                        <button mat-icon-button color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteProject(project?.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </span>
                </td>

            </ng-container>
            <!--  Actions   routerLink="/projects/add" [routerLink]="['/projects/edit', project.id]"
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let project">
          <button mat-icon-button color="primary" >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteProject(project.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container> 
      -->



            <!-- Header + Row defs -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSize]="5" [length]="dataSource.data.length" [pageSizeOptions]="[5,10,20]" showFirstLastButtons="true" (page)="OnPageChange($event)"></mat-paginator>
    </div>
</mat-card>