<mat-card class="project-list">
    <h2>Projects</h2>

    <div style="text-align: right; margin-bottom: 10px;">
        <button mat-raised-button color="primary" (click)="addProject()">+ Add Project</button>
    </div>
<app-filter-bar
  [statuses]="['In Progress', 'Completed','Pending' ,'All']"
  (filtersChanged)="applyFilters($event)">
</app-filter-bar>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">

            <!-- Name Column -->
            <ng-container *ngFor="let column of displayedColumns;" [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnLabel[column]}}</th>
                <td mat-cell *matCellDef="let project" >{{project[column]}}
                    <span *ngIf="column=='actions'">
                        <button mat-icon-button color="primary" (click)="editProject(project?.id)" matTooltip="Edit Project">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteProject(project?.id)" matTooltip="Delete Project">
                            <mat-icon>delete</mat-icon>
                        </button>
                          <button mat-icon-button  (click)="viewtasks(project?.id)" matTooltip="View Tasks"> 
                            <mat-icon>assignment</mat-icon>
                        </button>
                    </span>
                </td>

            </ng-container>
            


            <!-- Header + Row defs -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let project; columns: displayedColumns;" trackBy:trackByProjectId></tr>
        </table>

        <mat-paginator [pageSize]="5" [length]="dataSource.data.length" [pageSizeOptions]="[5,10,20]" showFirstLastButtons="true" (page)="OnPageChange($event)"></mat-paginator>
    </div>
</mat-card>