<h2 class="title">
    <span matBadge="{{unreadCount | async}}" matBadgeColor="warn">Notifications</span>
    <button mat-button color="primary" (click)="markAllRead()" >Mark All read</button>
</h2>

<mat-list>
    <div  *ngFor="let notif of notifications$ | async" style="border-bottom: 1px solid rgb(233, 231, 231);">
    <mat-icon matListIcon>{{notif.read?'notifications_none':'notifications_active'}}</mat-icon>
    <div matLine>{{ notif.message }}</div>
    <small matLine>{{ notif.timestamp | date:'shortTime' }}</small>
    <button mat-button color="primary" (click)="markAsRead(notif.id)" *ngIf="!notif.read">Mark as read</button>
    <button mat-icon-button color="warn"(click)="deleteNotification(notif.id)"><mat-icon>delete</mat-icon></button>
    </div>
</mat-list>