<h2 class="title">
    <span matBadge="{{unreadCount | async}}" matBadgeColor="warn">Notifications</span>
    <button mat-button color="primary" (click)="markAllRead()" >Mark All read</button>
</h2>

<mat-list>
    <div  *ngFor="let notif of notifications$ | async" class="notif-card">
    <mat-icon matListIcon>{{notif.read?'notifications_none':'notifications_active'}}</mat-icon>
    <div matLine style="margin-bottom: -17px;">{{ notif.message }}</div>
    <small matLine>{{ notif.timestamp | date:'medium' }}</small>
    <button mat-button color="primary" (click)="markAsRead(notif.id)" *ngIf="!notif.read">Mark as read</button>
    <button mat-icon-button color="warn"(click)="deleteNotification(notif.id)"><mat-icon style="vertical-align: text-bottom;">delete</mat-icon></button> 
</div>
</mat-list>